main {
    margin-top: 5%;
}

.prices-header {
    text-align: center;
}

thead th {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
}

thead {
    text-align: center;
    background: #002217;
    color: white;
}

.prices-column-one {
    text-align: center;
    background: green;
    border: 2px solid black;
}

.column-two, .free-trial-price {
    background: #00221746;
}

.free-trial-price {
    padding: 16px;
    text-align: center;
}


td,th {
    border: 2px solid black;
    text-align: start;
}

td {
    text-align: center;
}

.service-not-included {
    background: red;
}

.service-included {
    background: green;
}

caption {
    padding: 10px;
}

tr .price {
    background: magenta;
}