body {
    margin: 0;
}

.main-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    background: #002217;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}

.brand-name {
    display: flex;
    align-items: center;
    padding-left: 8px
}
.brand-name-home {
    font-weight: bold;
    text-decoration: none;
    color: green;
    font-size: 25px;
    display: inline-block;
    width: 50%;
}

.hamburger-container {
    align-self: center;
    display: flex;
    width: 100%;
}


.hamburger-button {
    margin-left: auto;
    width: 2rem;
}

.close-hamburger {
    display: none;
    margin-left: auto;
}

.hamburger-button:hover {
    background-color: green;

}

.hamburger-lines {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px auto;
}


.main-nav {
    display: none;
    padding-right: 0.5rem;
}


.main-nav-items {
    display: flex;
    gap: 16px;
    align-items: center;
    list-style: none;
    width: 100%;
    flex-direction: column;
}

.main-nav-items a {
    text-decoration: none;
    color: white;
}

.main-nav-items a:hover {
    border-bottom: 3px solid green;
}

.login-button {
    background: green;
    padding: 8px;
    border-radius: 5px;
}

.footer-main {
    display: flex;
    justify-content: center;
    background: black;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}

.footer-main ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer-main-link {
    text-decoration: none;
    color: white
}