@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Zen+Loop&display=swap');

* {
    box-sizing: border-box;
}

.main-header {
    display: flex;
    justify-content: space-between;
    background: rgb(0, 34, 23);
}

.brand-name {
    display: flex;
    align-items: center;
    padding-left: 8px
}
.brand-name-home {
    font-weight: bold;
    text-decoration: none;
    color: green;
    font-size: 25px;
}

.main-nav {
    display: flex;
    padding-right: 8px
}

.main-nav-items {
    display: flex;
    gap: 16px;
    align-items: center;
    list-style: none;
}

.main-nav-items a {
    text-decoration: none;
    color: white;
}

.main-nav-items a:hover {
    border-bottom: 3px solid green;
}

.login-button {
    background: green;
    padding: 8px;
    border-radius: 5px;
}

.main-landing {
    height: 500px;
    background: rgb(187, 187, 218);
    background: url("car-tesla.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-message {
    margin: 0;
    padding: 16px 8px;
    margin-top: 50px;
}

#choose-plan-text {
    text-align: center;
    color: rgb(0, 34, 23)
}

.memberships {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 8px;
}

.memberships ul {
    list-style: none;
    padding: 0;
}

.membership-free,
.membership-basic {
    background: aquamarine;
    width: 20%;
    margin: 16px 8px;
    height: 60%;
    margin: 32px 0;
    padding-bottom: 16px;
}

.membership-executive {
    background: rgb(0, 34, 23);
    width: 50%;
    color: white;
    box-shadow: 3px 3px 2px rgba(39, 34, 34, 0.479);
    margin-bottom: 16px;
}

.membership-executive-alert {
    background: white;
    padding: 8px 16px;
    margin: 32px 16px;
    color: rgb(0, 34, 23);
    box-shadow: 3px 3px 2px rgba(255, 127, 80, 0.507);
    border-radius: 8px;
}

.membership-executive-button {
    margin-bottom: 16px;
    background: green;
    height: 50px;
    width: 120px;
    border: 0;
    font-size: large;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.membership-executive-button:hover {
    background: white;
    color: green;
}

.membership-executive-button:active {
    background: coral;
    color: gray;
}

#about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(21, 131, 96);
    padding: 16px 0px;
    margin-bottom: 50px;
}

.about-us-text {
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    font: 16px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 16px 32px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3rem;
}