main {
    margin-top: 5%;
}

body {
    background: coral;
}

@media screen and (max-width: 780px) {
    .footer-main {
        margin-top: 100%;
    }    

    main {
        margin-top: 10%;
    }
}