main {
    margin-top: 5%;
}

h1 {
    margin: 8px;
}

input {
    margin: 8px 5px;
}

textarea {
    display: block;
    background: #bebdbd1a;
}

.button-div {
    margin: 8px 16px;
}

.comment-div {
    margin: 16px 2px;
}