/* .content-placeholder {
    height: 570px;
    background: gray;
} */

main {
    margin: 5% 0;
    height: 600px;
}


.container {
    display: grid;
    grid-template: 25% 25% 25% 25% / 20% 20% 20% 20% 20%;
    height: inherit;
    gap: 5px;
}

.pictures {
    border: 1px solid green;
    padding: 27%;
}
